extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .container
      +sections()
      +cases()
      +advantages()
      +features
      +files
      //- zip и rar <i class="fa-regular fa-file-zipper"></i>
      //- doc docx и оodt <i class="fa-regular fa-file-word"></i>
      //- пдф  <i class="fa-regular fa-file-pdf"></i>
      //- mp4 <i class="fa-regular fa-file-video"></i>
      //- xls и ods <i class="fa-regular fa-file-excel"></i>
      //- csv <i class="fa-solid fa-file-csv"></i>
      //- jpg и png gif svg <i class="fa-regular fa-file-image"></i>
      //- mp3 <i class="fa-regular fa-file-audio"></i>
      //- powerpoint <i class="fa-regular fa-file-powerpoint"></i>
      //- иной тип  <i class="fa-regular fa-file"></i>

block modals
