mixin cases()
  .content-info
    .content-info__list
      .content-info__item
        p.content-info__subtitle!="9 основных случаев, когда Вам необходим SiteDozor"
        ul.content-info__cases
          each item in cases
            li.content-info__case
              span.content-info__icon.fas.fa-check
              p.content-info__case-text!=item.text
      .content-info__item
        .content-info__img
          img(src=`img/content/block-problems.png` width=408, height=612, alt="Текст")
