mixin leadmagnit()
  .ind-block.leadmagnit
    .container
      .leadmagnit__inner
        .leadmagnit__title!="Бесплатная консультация"
        .leadmagnit__desc!="Все сырьевые компоненты, используемые в производстве продукции, имеют паспорта безопасности и заключения, подтверждающие отсутствие вреда здоровью людей и животных, а также окружающей среде."
        .leadmagnit__button
          a.button.--dark(href="#popup-form-callback" data-popup)!="Получить бесплатно"
