mixin teasers()
  <div class="ind-block" id="teasers-section">
    <div class="case">

      <div class="ind-block none ">
        <div class="case">
          <div>
            <div class="listgrid-list listgrid-vertical grid grids-3 ">
              <div class="listgrid-item listgrid-vertical " id="bx_3218110189_395">

                <div class="listgrid-image">
                  <div class="listgrid-icon color-main height-8 clip-circle">
                    <img class="icon" src="./img/content/icon_ok.svg" alt="Многоуровневая система качества">
                  </div>
                </div>


                <div class="listgrid-info">

                  <div class="listgrid-title">Многоуровневая система качества</div>

                  <div class="listgrid-text">Многоуровневый контроль качества позволяет получать лучший результат. </div>
                </div>

              </div>
              <div class="listgrid-item listgrid-vertical " id="bx_3218110189_438">

                <div class="listgrid-image">
                  <div class="listgrid-icon color-main height-8 clip-circle">
                    <img class="icon" src="./img/content/diversity_2_FILL0_wght200_GRAD0_opsz48.svg" alt="Надежность, проверенная временем">
                  </div>
                </div>


                <div class="listgrid-info">

                  <div class="listgrid-title">Надежность, проверенная временем</div>

                  <div class="listgrid-text">За годы работы мы завоевали доверие клиентов и подтвердили репутацию надежного партнера.</div>
                </div>

              </div>
              <div class="listgrid-item listgrid-vertical " id="bx_3218110189_418">

                <div class="listgrid-image">
                  <div class="listgrid-icon color-main height-8 clip-circle">
                    <img class="icon" src="./img/content/emoji_transportation_FILL0_wght200_GRAD0_opsz48-_1_.svg" alt="Доставка по России и СНГ">
                  </div>
                </div>


                <div class="listgrid-info">

                  <div class="listgrid-title">Доставка по России и СНГ</div>

                  <div class="listgrid-text">Доставка в кратчайший срок в любой регион и страны СНГ</div>
                </div>

              </div>
              <div class="listgrid-item listgrid-vertical " id="bx_3218110189_417">

                <div class="listgrid-image">
                  <div class="listgrid-icon color-main height-8 clip-circle">
                    <img class="icon" src="./img/content/precision_manufacturing_FILL0_wght200_GRAD0_opsz48-_1_.svg" alt="Современное оборудование">
                  </div>
                </div>


                <div class="listgrid-info">

                  <div class="listgrid-title">Современное оборудование</div>

                  <div class="listgrid-text">Специализированные оснащение компании позволяет выполнять самые сложные операции.</div>
                </div>

              </div>
              <div class="listgrid-item listgrid-vertical " id="bx_3218110189_417">

                <div class="listgrid-image">
                  <div class="listgrid-icon color-main height-8 clip-circle">
                    <img class="icon" src="./img/content/precision_manufacturing_FILL0_wght200_GRAD0_opsz48-_1_.svg" alt="Современное оборудование">
                  </div>
                </div>


                <div class="listgrid-info">

                  <div class="listgrid-title">Современное оборудование</div>

                  <div class="listgrid-text">Специализированные оснащение компании позволяет выполнять самые сложные операции.</div>
                </div>

              </div>
            </div>
          </div>
        </div>
        </div>
            <div class="ind-block none ">
              <div class="case">
                <div>
                  <div class="listgrid-list listgrid-horizontal grid grids-3 ">
                    <div class="listgrid-item listgrid-horizontal " id="bx_3218110189_395">

                      <div class="listgrid-image">
                        <div class="listgrid-icon color-main height-8 clip-circle">
                          <img class="icon" src="./img/content/icon_ok.svg" alt="Многоуровневая система качества">
                        </div>
                      </div>


                      <div class="listgrid-info">

                        <div class="listgrid-title">Многоуровневая система качества</div>

                        <div class="listgrid-text">Многоуровневый контроль качества позволяет получать лучший результат. </div>
                      </div>

                    </div>
                    <div class="listgrid-item listgrid-horizontal " id="bx_3218110189_438">

                      <div class="listgrid-image">
                        <div class="listgrid-icon color-main height-8 clip-circle">
                          <img class="icon" src="./img/content/diversity_2_FILL0_wght200_GRAD0_opsz48.svg" alt="Надежность, проверенная временем">
                        </div>
                      </div>


                      <div class="listgrid-info">

                        <div class="listgrid-title">Надежность, проверенная временем</div>

                        <div class="listgrid-text">За годы работы мы завоевали доверие клиентов и подтвердили репутацию надежного партнера.</div>
                      </div>

                    </div>
                    <div class="listgrid-item listgrid-horizontal " id="bx_3218110189_418">

                      <div class="listgrid-image">
                        <div class="listgrid-icon color-main height-8 clip-circle">
                          <img class="icon" src="./img/content/emoji_transportation_FILL0_wght200_GRAD0_opsz48-_1_.svg" alt="Доставка по России и СНГ">
                        </div>
                      </div>


                      <div class="listgrid-info">

                        <div class="listgrid-title">Доставка по России и СНГ</div>

                        <div class="listgrid-text">Доставка в кратчайший срок в любой регион и страны СНГ</div>
                      </div>

                    </div>
                    <div class="listgrid-item listgrid-horizontal " id="bx_3218110189_417">

                      <div class="listgrid-image">
                        <div class="listgrid-icon color-main height-8 clip-circle">
                          <img class="icon" src="./img/content/precision_manufacturing_FILL0_wght200_GRAD0_opsz48-_1_.svg" alt="Современное оборудование">
                        </div>
                      </div>


                      <div class="listgrid-info">

                        <div class="listgrid-title">Современное оборудование</div>

                        <div class="listgrid-text">Специализированные оснащение компании позволяет выполнять самые сложные операции.</div>
                      </div>

                    </div>
                    <div class="listgrid-item listgrid-horizontal " id="bx_3218110189_417">

                      <div class="listgrid-image">
                        <div class="listgrid-icon color-main height-8 clip-circle">
                          <img class="icon" src="./img/content/precision_manufacturing_FILL0_wght200_GRAD0_opsz48-_1_.svg" alt="Современное оборудование">
                        </div>
                      </div>


                      <div class="listgrid-info">

                        <div class="listgrid-title">Современное оборудование</div>

                        <div class="listgrid-text">Специализированные оснащение компании позволяет выполнять самые сложные операции.</div>
                      </div>

                    </div>

                  </div>
                  </div>
                  </div>
                  </div>
                  <div class="ind-block none ">
                    <div class="case">
                      <div class="listgrid-list listgrid-horizontal grid grids-3 ">
                        <div class="listgrid-item listgrid-horizontal color-no" id="bx_651765591_399">

                          <div class="listgrid-image">
                            <img class="color-no none" src="./img/content/icon_bonus.svg" alt="Скидки и бонусы">
                          </div>


                          <div class="listgrid-info">

                            <div class="listgrid-title">Скидки и бонусы</div>

                          </div>

                        </div>
                        <div class="listgrid-item listgrid-horizontal color-no" id="bx_651765591_398">

                          <div class="listgrid-image">
                            <img class="color-no none" src="./img/content/icon_verified.svg" alt="100% гарантия">
                          </div>


                          <div class="listgrid-info">

                            <div class="listgrid-title">100% гарантия</div>

                          </div>

                        </div>
                        <div class="listgrid-item listgrid-horizontal color-no" id="bx_651765591_397">

                          <div class="listgrid-image">
                            <img class="color-no none" src="./img/content/icon_podderzhka.svg" alt="Поддержка 24/7">
                          </div>


                          <div class="listgrid-info">

                            <div class="listgrid-title">Поддержка 24/7</div>

                          </div>

                        </div>
                        <div class="listgrid-item listgrid-horizontal color-no" id="bx_651765591_396">

                          <div class="listgrid-image">
                            <img class="color-no none" src="./img/content/icon_checklist.svg" alt="Работаем «под ключ»">
                          </div>


                          <div class="listgrid-info">

                            <div class="listgrid-title">Работаем «под ключ»</div>

                          </div>

                        </div>
                        <div class="listgrid-item listgrid-horizontal color-no" id="bx_651765591_396">

                          <div class="listgrid-image">
                            <img class="color-no none" src="./img/content/icon_checklist.svg" alt="Работаем «под ключ»">
                          </div>


                          <div class="listgrid-info">

                            <div class="listgrid-title">Работаем «под ключ»</div>

                          </div>

                        </div>
                      </div>
                      </div>
                    </div>
                    <div class="ind-block none ">
                    <div class="case">
                      <div class="listgrid-list listgrid-vertical grid grids-3 ">
                        <div class="listgrid-item listgrid-vertical color-no" id="bx_651765591_399">

                          <div class="listgrid-image">
                            <img class="color-no none" src="./img/content/icon_bonus.svg" alt="Скидки и бонусы">
                          </div>


                          <div class="listgrid-info">

                            <div class="listgrid-title">Скидки и бонусы</div>

                          </div>

                        </div>
                        <div class="listgrid-item listgrid-vertical color-no" id="bx_651765591_398">

                          <div class="listgrid-image">
                            <img class="color-no none" src="./img/content/icon_verified.svg" alt="100% гарантия">
                          </div>


                          <div class="listgrid-info">

                            <div class="listgrid-title">100% гарантия</div>

                          </div>

                        </div>
                        <div class="listgrid-item listgrid-vertical color-no" id="bx_651765591_397">

                          <div class="listgrid-image">
                            <img class="color-no none" src="./img/content/icon_podderzhka.svg" alt="Поддержка 24/7">
                          </div>


                          <div class="listgrid-info">

                            <div class="listgrid-title">Поддержка 24/7</div>

                          </div>

                        </div>
                        <div class="listgrid-item listgrid-vertical color-no" id="bx_651765591_396">

                          <div class="listgrid-image">
                            <img class="color-no none" src="./img/content/icon_checklist.svg" alt="Работаем «под ключ»">
                          </div>


                          <div class="listgrid-info">

                            <div class="listgrid-title">Работаем «под ключ»</div>

                          </div>

                        </div>
                        <div class="listgrid-item listgrid-vertical color-no" id="bx_651765591_396">

                          <div class="listgrid-image">
                            <img class="color-no none" src="./img/content/icon_checklist.svg" alt="Работаем «под ключ»">
                          </div>


                          <div class="listgrid-info">

                            <div class="listgrid-title">Работаем «под ключ»</div>

                          </div>

                        </div>
                      </div>
                    </div>
