.wall--bigwall,
.wall--assimetr {
  & .wall__name h2 {
    font-size: 2.26rem;
    line-height: 3.2256rem;
  }

  & .wall__img {
    & img:hover {
      transform: none;
    }
  }

  @media screen and (max-width: 1340px) {
    & .wall__name h2 {
      font-size: 2.16rem;
      line-height: 3.024rem;
    }
  }

  @media screen and (max-width: 1220px) {
    & .wall__item {
      min-height: 24.125rem;
    }

    & .wall__name h2 {
      font-size: 1.728rem;
      line-height: 2.4192rem;
    }
  }

  @media screen and (max-width: 992px) {
    & .wall__item {
      min-height: 23.125rem;
    }

    & .wall__name h2 {
      font-size: 1.296rem;
      line-height: 1.8144rem;
    }

    & .wall__text {
      font-size: 0.9rem;
      line-height: 1.8*0.9rem;
    }

    & .wall__button {
      padding: 1.2rem 3.5rem;
    }
  }

  @media screen and (max-width: 767px) {
    & .wall__item {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-bottom: 2.5rem;
    }

    & .wall__text {
      font-size: 18px;
      line-height: 1.5rem;
    }

    & .wall__name h2 {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  @media screen and (max-width: 580px) {
    & .wall__name h2 {
      font-size: 1.2rem;
      line-height: 2.2rem;
    }

    & .wall__text {
      font-size: 16px;
    }

    & .wall__button {
      padding: 1rem 2.4rem;
    }
  }
}

.wall--bigwall {
  & .case {
    max-width: none;
  }

  & .wall__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
  }

  & .wall__text {
    margin-bottom: 5rem;
  }

  & .wall__name h2 {
    margin-top: 5rem;
  }

  & .wall__item.--reverse {
    & .wall__img {
      clip-path: none;
      left: -5vw;
    }

    & .wall__info {
      width: auto;
      padding: 0 0 0 5rem;
    }
  }

  & .wall__info {
    width: auto;
    padding: 0 5rem 0 0;
  }

  & .wall__img {
    width: calc(~'100% + 5vw');
    height: 100%;
    clip-path: none;
    position: relative;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 1340px) {
    & .wall__name h2 {
      margin-top: 3rem;
    }

    & .wall__item.--reverse {
      & .wall__info {
        padding: 0 0 0 3rem;
      }
    }

    & .wall__info {
      padding: 0 3rem 0 0;
    }

    & .wall__text {
      margin-bottom: 3rem;
    }
  }

  @media screen and (max-width: 1220px) {
    & .wall__img {
      height: 100%;
    }
  }

  @media screen and (max-width: 992px) {
    & .wall__item.--reverse {
      & .wall__info {
        padding: 0 0 0 2rem;
      }
    }

    & .wall__info {
      padding: 0 2rem 0 0;
    }

    & .wall__name h2 {
      margin-top: 2rem;
    }

    & .wall__text {
      margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 767px) {
    & .wall__item.--reverse {
      & .wall__img {
        left: 0;
      }

      & .wall__info {
        padding: 0;
      }
    }

    & .wall__info {
      padding: 0;
    }

    & .wall__text {
      margin-bottom: 0;
    }

    & .wall__img img {
      width: auto;
    }

    & .wall__img {
      width: calc(~'100% + 10vw');
    }
  }
}

.wall--assimetr {
  & .wall__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }

  & .wall__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    align-items: flex-start;
    justify-content: flex-start;

    &:nth-child(even) {
      transform: translateY(50%);
    }

    &:nth-child(odd) {
      margin-bottom: 14rem;
    }
  }

  & .wall__img {
    clip-path: none;
    width: auto;
    height: auto;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  & .wall__info {
    width: auto;
    order: 2;
    padding-right: 0;
  }

  & .wall__item.--reverse {
    & .wall__info {
      order: 2;
      width: auto;
      padding-left: 0;
    }

    & .wall__img {
      clip-path: none;
    }
  }

  @media screen and (max-width: 992px) {
    & .wall__list {
      column-gap: 2rem;
    }
  }

  @media screen and (max-width: 767px) {
    & .wall__list {
      display: flex;
      flex-direction: column;
    }

    & .wall__item {
      align-items: center;

      &:nth-child(even) {
        transform: translateY(0);
      }

      &:nth-child(odd) {
        margin-bottom: 2.5rem;
      }
    }
  }
}

.wall {
  padding-top: 9.375rem;
  margin-top: -6.25rem;
}

.wall.--catalogue {
  padding-top: 5.125rem;
}

.wall.--catalogue .wall__shape-wrap:nth-of-type(1) {
  top: 31.25rem;
  left: -43.75rem;
  transform: scale(-1, 1);
}

.wall.--catalogue .wall__shape-wrap:nth-of-type(1) .wall__shape-item:before {
  top: -15.625rem;
  left: -11.25rem;
}

.wall.--catalogue .wall__shape-wrap:nth-of-type(1) .wall__shape-item:after {
  position: absolute;
  content: "";
  width: 9.375rem;
  height: 9.375rem;
  bottom: -18.75rem;
  left: 0;
  border: 1.875rem solid #F7FAFF;
  border-radius: 50%;
}

.wall.--catalogue .wall__shape-wrap:nth-of-type(2) {
  top: 0rem;
  right: -43.75rem;
  transform: none;
}

.wall.--catalogue .wall__shape-wrap:nth-of-type(2) .wall__shape-item:before {
  display: none;
}

.wall.--catalogue .wall__shape-wrap:nth-of-type(3) {
  bottom: -37.5rem;
  right: -15.625rem;
}

.wall.--catalogue .wall__shape-wrap:nth-of-type(3) .wall__shape-item {
  width: 12.5rem;
  height: 12.5rem;
}

.wall.--catalogue .wall__shape-wrap:nth-of-type(4) {
  left: -43.75rem;
  bottom: -81.25rem;
  transform: scale(-1, 1);
}

.wall__inner {
  margin-bottom: 3.75rem;
}

.wall__title {
  font-size: 2.8rem;
  font-weight: 100;
  line-height: 3.2rem;
  max-width: 24.375rem;
  width: 100%;
  position: relative;
}

.wall__desc {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
  max-width: 40rem;
  width: 100%;
  margin-left: 2.5rem;
  padding-left: 1.5rem;
  border-left: 0.125rem solid @second-color;
}

.wall__item {
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 28.125rem;
  margin-bottom: 2.5rem;
}

.wall__item:last-of-type {
  margin-bottom: 3rem;
}

.wall__item.--reverse .wall__img {
  order: 1;
}

.wall__item.--reverse .wall__info {
  order: 2;
  padding-left: 5rem;

  padding-right: 0;
}

.wall__info {
  z-index: 10;
  padding-right: 5rem;
}

.wall__name {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.3rem;

  & h2 {
    font-weight: 700;
    font-size: 2.26rem;
    line-height: 3.2256rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

.wall__text {
  font-size: @main-font-size;
  line-height: 1.8*@main-font-size;
}

.wall__img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wall__item.--reverse>.wall__img {
  clip-path: polygon(0% 0, 80% 0%, 100% 100%, 0% 100%);
}

.wall__img {
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}

.wall__img img {
  transition: .5s;
}

.wall__img img:hover {
  transform: scale(1.3);
}

.wall__bg img:hover {
  transform: none;
}

.wall__button {
  margin-top: 3rem;
}

.wall__shape-wrap {
  z-index: -1;
  position: absolute;
}

.wall__shape-wrap img {
  opacity: .6;
}

.wall__shape-wrap:nth-of-type(1) {
  left: -53.125rem;
  bottom: -25rem;
}

.wall__shape-wrap:nth-of-type(1) .wall__shape-item:before {
  position: absolute;
  content: "";
  width: 9.375rem;
  height: 9.375rem;
  top: -3.125rem;
  right: 12.5rem;
  border: 1.875rem solid #F7FAFF;
  border-radius: 50%;
}

.wall__shape-wrap:nth-of-type(2) {
  top: -28.125rem;
  right: -53.75rem;
  transform: rotate(190deg);
}

.wall__shape-wrap:nth-of-type(2) .wall__shape-item:before {
  position: absolute;
  content: "";
  width: 13.4375rem;
  height: 13.4375rem;
  top: -10rem;
  right: 14.375rem;
  border: 1.875rem solid #F7FAFF;
  border-radius: 50%;
}

.wall__shape-wrap:nth-of-type(3) {
  bottom: -62.5rem;
  right: -9.375rem;
}

.wall__shape-wrap:nth-of-type(3) .wall__shape-item {
  content: "";
  width: 9.375rem;
  height: 9.375rem;
  top: 0;
  right: 0;
  border: 1.875rem solid #F7FAFF;
  border-radius: 50%;
}

@media screen and (max-width: 1340px) {
  .wall__name {
    & h2 {
      font-size: 2.16rem;
      line-height: 3.024rem;
    }
  }

  .wall__item.--reverse .wall__info {
    padding-left: 3rem;
  }

  .wall__info {
    padding-right: 3rem;
  }
}

@media screen and (max-width: 1220px) {
  .wall__shape-wrap {
    display: none;
  }

  .wall__title {
    font-size: 2.3rem;
    line-height: 3rem;
    max-width: 16.5625rem;
  }

  .wall__desc {
    font-size: 1.2rem;
    max-width: 39.0625rem;
  }

  .wall__item {
    min-height: 24.125rem;
  }

  .wall__name h2 {
    font-size: 1.728rem;
    line-height: 2.4192rem;
  }

  .wall__bg img {
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  .wall.--catalogue {
    padding-top: 8rem;
  }

  .wall__inner {
    margin-bottom: 2.5rem;
  }

  .wall__title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    max-width: 13.75rem;
  }

  .wall__desc {
    font-size: 1.1rem;
    line-height: 1.8rem;
    max-width: 29.0625rem;
    padding-left: 0.9375rem;
    margin-left: 1.25rem;
  }

  .wall__item {
    min-height: 21.875rem;
  }

  .wall__name h2 {
    font-size: 1.296rem;
    line-height: 1.8144rem;
  }

  .wall__text {
    font-size: 0.9rem;
    line-height: 1.8*0.9rem;
  }

  .wall__button {
    padding: 1.2rem 3.5rem;
  }

  .wall__bg img {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .wall {
    padding-top: 5.625rem;
    padding-bottom: 1.875rem;
  }

  .wall.--catalogue {
    padding-top: 6rem;
  }

  .wall__inner {
    margin-bottom: 1.875rem;
  }

  .wall__title {
    max-width: 100%;
    font-size: 1.6em;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 1.25rem;
  }

  .wall__desc {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 0;
    max-width: 100%;
  }

  .wall__item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .wall__item.--reverse .wall__info {
    width: 100%;
    padding-left: 0;
  }

  .wall__img {
    order: 1;
    margin-bottom: 0.9375rem;
  }

  .wall__info {
    order: 2;
    width: 100%;
    padding-right: 0;
  }

  .wall__name {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 0.625rem;

    & h2 {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  .wall__text {
    font-size: 18px;
    line-height: 1.5rem;
  }

  .wall__button {
    margin-top: 1.875rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 580px) {
  .wall__title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.9375rem;
  }

  .wall__desc {
    font-size: .9rem;
    line-height: 1.4rem;
  }

  .wall__name h2 {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  .wall__text {
    font-size: 16px;
  }

  .wall__bg img {
    height: 100%;
  }

  .wall__button {
    margin-top: 1.25rem;
    padding: 1rem 1.90rem;
  }
}
