-
  const advantages = [
    {
      title: "Адаптивный дизайн",
      text: "Сайт удобно просматривать на любом устройстве - выше конверсия, больше клиентов.",
      img: "",
    },
    {
      title: "Экспертная seo-оптимизации",
      text: "Первичная и полная оптимизация. Продвижение сайта с первого дня разработки.",
      img: "",
    },
    {
      title: "Современные технологии. Быстрые сайты",
      text: "Php7, Html5, Ajax, Mobile-friendly, Bootstrap, Cdn, BigData.",
      img: "",
    },
    {
      title: "Инструменты маркетинга",
      text: "Интеграция на сайт эффективных инструментов привлечения клиентов, формирования лояльности.",
      img: "",
    },
    {
      title: "Функциональная система управления",
      text: "Гуру 1С-Битрикс, Wordpress, Magento, Opencart, Prestashop, Joomla, Drupal - подбор лучшей cms для проекта.",
      img: "",
    },
    {
      title: "Конверсионная проработка",
      text: "Работа с usability. UX-дизайн интерфейсов. Мультиканальные коммуникации.",
      img: "",
    },
  ]
