-
  const cases = [
    {
      text: "Вы хотите быстрее и эффективнее продвигать и развивать сайт.",
    },
    {
      text: "Хотите повысить видимость проекта в интернете.",
    },
    {
      text: "Подготовка и учет публикаций, постинг, оптимизация и продвижение сайта занимают много времени.",
    },
    {
      text: "Начинаете разработку сайта или открываете новый бизнес.",
    },
    {
      text: "Ваша компания растет, не хватает порядка в работах над интернет-проектами. Каждый новый вебмастер и seo-специалист не знают, что было сделано раньше.",
    },
    {
      text: "Нет времени контролировать работу и продвижение сайта. Нередко забываете продлить хостинг, домен или разместить акцию к празднику. Веб-сайт регулярно не обновляется и не проверяется.",
    },
    {
      text: "Регулярно работаете с текстами для сайта.",
    },
    {
      text: "Работаете над проектами Клиентов, хотите успевать больше и автоматизировать часть работ.",
    },
    {
      text: "Желаете снизить затраты на seo и обслуживание сайта.",
    },
  ]
