-
  const catalog = [
    {
      id: "bx_1847241719_25",
      href: "/building/",
      img: "smaller-2_1",
      title: "Стройматериалы",
      number: "22",
      text: "Ворота откатные NT-238 изготовлены с использованием современных технологий с соблюдением стандартов с применением натурального высококачественного сырья. Конструктивные особенности модели и дизайн делают его особенно привлекательной в своём сегменте. Подробное описание и характеристики помогут определиться с выбором.",
    },
    {
      id: "bx_1847241719_30",
      href: "/doors/",
      img: "smaller-2_1",
      title: "Двери",
      number: "12",
    },
    {
      id: "bx_1847241719_34",
      href: "/gates/",
      img: "smaller-2_1",
      title: "Ворота и ограждения",
      number: "16",
    },
    {
      id: "bx_1847241719_83",
      href: "/cottages/",
      img: "smaller-2_1",
      title: "Коттеджи по проектам",
      number: "8",
    },
    {
      id: "bx_1847241719_39",
      href: "/agroproducts/",
      img: "smaller-2_1",
      title: "С/Х Продукция",
      number: "16",
    },
  ]
