-
  const features = [
    {
      title: "Корпоративные сайты",
      text: "Решения для бизнеса любого уровня и всех видов взаимоотношений (бизнес, клиент, государство).",
      img: "",
    },
    {
      title: "Интернет-магазины",
      text: "Использование современных триггеров и технических решений в сфере продаж b2b, b2c, c2b, c2c с гарантией получения заказов.",
      img: "",
    },
    {
      title: "Промосайты и лендинги",
      text: "Уникальные одностраничные решения в сфере продаж, целью которых являются быстрые сделки.",
      img: "",
    },
  ]
