-
  const files = [
    {
      icon: "fa fa-file-zip-o",
      text: "Пример zip и rar",
      fileName: "zipfile.zip",
    },
    {
      icon: "fa fa-file-word-o",
      text: "Пример doc, docx и оodt",
      fileName: "docfile.doc",
    },
    {
      icon: "fa fa-file-pdf-o",
      text: "Пример pdf",
      fileName: "pdffile.pdf",
    },
    {
      icon: "fa fa-file-video-o",
      text: "Пример mp4",
      fileName: "mp4file.mp4",
    },
    {
      icon: "fa fa-file-excel-o",
      text: "Пример xls и ods",
      fileName: "xlsfile.xls",
    },
    {
      icon: "fa fa-file-image-o",
      text: "Пример jpg, png, gif и svg",
      fileName: "jpgfile.jpg",
    },
    {
      icon: "fa fa-file-audio-o",
      text: "Пример mp3",
      fileName: "mp3file.mp3",
    },
    {
      icon: "fa fa-file-powerpoint-o",
      text: "Пример powerpoint",
      fileName: "pptfile.ppt",
    },
    {
      icon: "fa fa-file",
      text: "Пример любого другого файла",
      fileName: "exefile.exe",
    },
  ]
